<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script type="module" src="./js/index.js" defer></script>
    <title>!{ title }</title>
</head>
<body>
    <iframe class="background" src="./background/background.html"></iframe>
    <nav class="container">
        <div class="row cols-sm-12 cols-md content-menu">
            <div>
                <a id="experience-link" class="content-link" role="button" href="#experience" target="_self">
                    <h2>Experience</h2>
                </a>
            </div>
            <div>
                <a id="portfolio-link" class="content-link" role="button" href="#portfolio" target="_self">
                    <h2>Portfolio</h2>
                </a>
            </div>
            <div class="col-sm-first col-md-normal">
                <a id="name-link" class="name" role="button" href="#" target="_self">
                    <h1>Jakob Strobl</h1>
                </a>
            </div>
            <div>
                <a id="blog-link" class="locked content-link" role="button" href="#blog" target="_self">
                    <h2>Blog</h2>
                </a>
            </div>
            <div>
                <a id="contact-link" class="content-link" role="button" href="#contact" target="_self">
                    <h2>Contact</h2>
                </a>
            </div>
        </div>
    </nav>

    <section id="cta-message" class="work-call container">
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8">
                <div class="work-card row">
                    <div class="col-sm-11">
                        <p>
                            I am currently looking to join a team working in the following fields: 
                            3D engines, 
                            simulation/robotics,
                            high performance computing,
                            and compilers/interpreters.
                            If you know of any related open-positions, <a id="cta-link" role="button" href="#contact" target="_self">please reach out!</a>
                        </p>
                    </div>
                    <div id="close-cta" class="col-sm-1 row" style="justify-content: end;">
                        <button title="Close">X</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main class="panel">
        <section id="locked-panel" class="panel-section container"> 
            <div class="row">
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-md-8 panel-content">
                    <p>
                        <span class="big-word el">Oops...</span>
                        <span class="el">
                            This content requires more development time and is locked for the time being.
                            <i class="subtext">I should get on that.</i>
                        </span>
                        <br>
                        <span class="el">Check back soon!</span>
                    </p>
                </div>
                <div class="col-sm-1 col-md-2"></div>
            </div>
        </section>
        <section id="experience-panel" class="panel-section container">
            <div class="row">
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-md-8 row cols-sm-12 panel-content">
                    <div id="ta-experience" class="row cols-sm-12">
                        <div class="el sub-title row">
                            <div class="col-sm-12 col-md-9">
                                <p class="title">Teaching Experience</p>
                            </div>
                            <div class="col-sm-12 col-md-3 justify-right">
                                <p class="timeline">2018-2020</p>
                            </div>
                        </div>
                        <div class="el education-info row cols-sm-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <p class="headline">Undergraduate TA</p>
                                </div>
                                <div class="col-sm-12 col-md-4 justify-right">
                                    <p class="subline">2019-2020</p>
                                </div>
                            </div>
                            <div class="university-info row cols-sm-12">
                                <div>
                                    <p>
                                        As an Undergraduate TA, I prepared and taught weekly lessons to help students complete their lab assignments 
                                        and held in-person and virtual office hours to assist students with course projects and material. 
                                        All classes were undergraduate Computer Science courses at the University of Pittsburgh.
                                    </p>
                                    <p>Courses:</p>
                                    <ul class="dash">
                                        <li>Intro. to Computer Org. & Assembly Language</li>
                                        <li>Intro. to Systems Software with C</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <p class="headline">TLI Instructor</p>
                                </div>
                                <div class="col-sm-12 col-md-4 justify-right">
                                    <p class="subline">Summer 2018</p>
                                </div>
                            </div>
                            <div class="university-info row cols-sm-12">
                                <div>
                                    <p>
                                        I was a key instructor for two summer tech workshops for middle and high school students to get them interested in technology and programming.
                                    </p>
                                    <p>Workshops</p>
                                    <ul class="dash">
                                        <li>TLI Tech Divaz</li>
                                        <li>TLI High School Academy</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <p class="headline">Undergraduate TA</p>
                                </div>
                                <div class="col-sm-12 col-md-4 justify-right">
                                    <p class="subline">Spring 2018</p>
                                </div>
                            </div>
                            <div class="university-info row cols-sm-12">
                                <div>
                                    <p>All classes were undergraduate Computer Science courses at the University of Pittsburgh.</p>
                                    <p>Courses:</p>
                                    <ul class="dash">
                                        <li>Intro. to Programming with Python</li>
                                        <li>Intermediate Programming with Java</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="education" class="row cols-sm-12">
                        <div class="el sub-title row">
                            <div class="col-sm-12 col-md-9">
                                <p class="title">Bachelor's</p>
                            </div>
                            <div class="col-sm-12 col-md-3 justify-right">
                                <p class="timeline">2016-2020</p>
                            </div>
                        </div>
                        <div class="el education-info row cols-sm-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <p class="headline">University of Pittsburgh</p>
                                </div>
                                <div class="col-sm-12 col-md-4 justify-right">
                                    <p class="subline">Pittsburgh, PA, USA</p>
                                </div>
                            </div>
                            <div class="university-info row cols-sm-12">
                                <div>
                                    <p>Bachelor of Science, Summa Cum Laude</p>
                                    <p>Major: Computer Science</p>
                                    <p>Minor: Korean</p>
                                    <p>Asian Studies Certificate</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <p class="headline">Yonsei University</p>
                                </div>
                                <div class="col-sm-12 col-md-4 justify-right">
                                    <p class="subline">Seoul, South Korea</p>
                                </div>
                            </div>
                            <div class="university-info row cols-sm-12">
                                <div>
                                    <p>I studied abroad at Yonsei University in Seoul, South Korea for a wonderful year.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2"></div>
            </div>
        </section>
        <section id="portfolio-panel" class="panel-section container">
            <div class="row">
                <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 panel-content">
                    <div class="sub-title row">
                        <div class="col-sm-12">
                            <p class="project-year">2020</p>
                        </div>
                    </div>
                    <div class="project-container row">
                        !{{
                            projects
                            .filter((page) => page.get('date').getFullYear() === 2020)
                            .render((page) => {
                                return `<div class="project col-sm-6 col-md-4">
                                            <img src="${page.get('thumbnail')}">
                                            <p class="project-title">${page.title()}</p>
                                        </div>`;
                            });
                        }}
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-panel" class="panel-section container">
            <div class="row">
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-md-8 row cols-sm-12 panel-content">
                    <div class="contact-tag">
                        <p class="el">Get in touch.</p>
                    </div>
                    <div class="row cols-sm-12 cols-md">
                        <div id="github" class="contact-card el">
                            <a class="contact-card-link" href="https://github.com/Jakob-Strobl" target="_blank">
                                <img src="./img/contact-logos/Github-octocat-256.png" alt="Github Octocat Logo"/>
                                <p>Github</p>
                            </a>
                        </div>
                        <div id="linkedin" class="contact-card el">
                            <a class="contact-card-link" href="https://www.linkedin.com/in/jakob-strobl/" target="_blank">
                                <img src="./img/contact-logos/LI-In-Bug-resized.png" alt="LinkedIn Logo"/>
                                <p>LinkedIn</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p><br></p>
                        <p class="el">
                            This website was built with 
                            <a class="framework degen-link" href="https://github.com/Jakob-Strobl/Degen" target="_blank">Degen (a custom Static Site Generator)</a>, 
                            <a class="framework threejs-link" href="https://threejs.org/" target="_blank">three.js</a>, 
                            <a class="framework minicss-link" href="https://minicss.org/" target="_blank">mini.css</a>, and 
                            <a class="framework anime-link" href="https://animejs.com/" target="_blank">anime.js</a>.
                        </p>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2"></div>
            </div>
        </section>
    </main> 
    <footer>
        <small>Build: !{ build }</small> 
        <br>
        <small>&copy; Copyright 2020 Jakob Strobl. All Rights Reserved.</small>
    </footer>
</body>
</html>